In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [5]:
student= pd.read_csv("student.csv",sep=";")

In [8]:
student.rename(columns={'sex':'gender'},inplace=True)
student['alcohol_index'] =(5*student['Dalc']+2*student['Walc'])/7
#alochol consumption level
student['acl']=student['alcohol_index']<=2
student['acl']=student['acl'].map({True:'Low',False:'High'})

In [9]:
student.head()

,school,gender,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Dalc,Walc,health,absences,G1,G2,G3,alcohol_index,acl
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,1,3,4,0,11,11,1.000000,Low
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,1,1,3,2,9,11,11,1.000000,Low
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,2,3,3,6,12,13,12,2.285714,High
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,1,1,5,0,14,14,14,1.000000,Low
4,GP,F,16,U,GT3,T,3,3,other,other,...,2,1,2,5,0,11,13,13,1.285714,Low

In [10]:
features=['gender','famsize','age','studytime','famrel','goout','freetime','G3']
target='acl'

In [11]:
student['gender'] =student['gender'].map({'F':0,'M':1}).astype(int)
student['famsize'] =student['famsize'].map({'LE3':0,'GT3':1}).astype(int)
student['acl'] =student['acl'].map({'Low':0,'High':1}).astype(int)

In [13]:
X=student[features].values
y=student[target].values

In [14]:
student['acl'].value_counts(normalize=True)

0    0.744222
1    0.255778
Name: acl, dtype: float64

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
student_classifier_logreg=LogisticRegression(C=2)

In [18]:
student_classifier_logreg.fit(X,y)

C:\Users\aarti\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=2, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
student['predictions_logreg']=student_classifier_logreg.predict(X)

In [20]:
confusion_matrix =pd.crosstab(student['predictions_logreg'], student['acl'])

In [21]:
confusion_matrix

acl                   0    1
predictions_logreg
0                   453  105
1                    30   61

In [23]:
ac=(confusion_matrix.ix[0,0]+confusion_matrix.ix[1,1])/student.shape[0]
print("Accuracy: {}".format(ac))

Accuracy: 0.7919876733436055

C:\Users\aarti\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [24]:
 from sklearn.ensemble import RandomForestClassifier

In [25]:
student_classifier_rf = RandomForestClassifier()

In [26]:
student_classifier_rf.fit(X,y)
student['predictions_rf'] =student_classifier_rf.predict(X)

C:\Users\aarti\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [27]:
confusion_matrix =pd.crosstab(student['predictions_rf'], student['acl'])
confusion_matrix

acl               0    1
predictions_rf
0               481   17
1                 2  149

In [28]:
ac=(confusion_matrix.ix[0,0]+confusion_matrix.ix[1,1])/student.shape[0]
print("Accuracy: {}".format(ac))

Accuracy: 0.9707241910631741

C:\Users\aarti\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [35]:
new_student=np.array([[1,1,18,2,1,5,5,30]])
prediction= student_classifier_rf.predict(new_student)
print("The model predicts that the student belongs to the:")
if prediction==1:
    print("HIGH Alochol Consumption group")
else:
    print("LOW Alochol consumption group")

The model predicts that the student belongs to the:
HIGH Alochol Consumption group